<div class="form-signin card text-center bg-success">
  <div class="card-body">
    <h5 class="card-title text-light">Active Session found</h5>
    <p class="card-text text-light">You are the host of session <span id="session-key"></span></p>
    <form action="/dashboard" method="get">
      <button href="/dashboard" class="btn btn-light" type="submit">Join this session as host again</button>
    </form>

  </div>
</div>
