</div>
</body>

<footer class="footer">
  <div class="container">
    <!-- <img class="navbar-brand" src="https://imgr.search.brave.com/_NdTccpAaEDDK-qjPpoQ2b4cqAYSgNwzxdT82eQuJ2k/fit/632/225/ce/1/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5G/M3JVQklkbU8tTmpL/cUk5V1NzQzlBSGFG/aiZwaWQ9QXBp" alt="open-university-logo"> -->
    <p class="text-light">Open Universiteit / Goethe University</p>
  </div>
</footer>

</html>
