<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MMLA Live Toolkit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/6d436c0836.js" crossorigin="anonymous"></script>
    <nav class=navbar navbar-default>
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">MMLA Live Toolkit</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">Home</a></li>
          <li id="host"><a href="/host">Host</a></li>
          <li id="participant"><a href="/participant">Participant</a></li>
          <li id="about"><a href="/about">About</a></li>
          <li id="legal"><a href="/legal">Legal - Impressum</a></li>
        </ul>
      </div>

    </nav>
  </head>
  <body>
    <div class="container">
