<form class="form-signin" action="/dashboard" method="post">
  <i class="fas fa-chalkboard-teacher fa-5x" alt="" width="720" height="720"></i>
  <h1 class="h3 mb-3 font-weight-normal">Host</h1>
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Create a new Session
  </button>
  <p class="cookie-warning">By pressing this button, you confirm that we may store the following data as a cookie: Session Key, secret for authorization.<a href="/privacy"> Learn more</a></p>
</form>
