<%- include("partials/header") -%>


<!-- Code partially from Bootstrap Examples https://getbootstrap.com/docs/4.0/examples/product/# -->

<div class="home-bg position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">

  <div class="mx-auto my-5">
    <h1 class="display-4 font-weight-normal">About</h1>
    <p class="lead font-weight-normal" style="text-align: center">
      This platform is a prototype implementation of a platform for live multimodal learning analytics for learn-from-home scenarios. Machine learning is used to extract certain data about the participants (e.g. emotion) from the webcam image and
      both transmit it live to the host of the session (usually the teacher) and store it in the short term for later export of the data. The analysis takes place exclusively on the user's device, no image data and no audio track are transmitted.
    </p>

  </div>

</div>


<%- include("partials/footer") -%>
