<%- include("partials/header") -%>

<%- include("partials/session-join") -%>

<div style="margin: 0" class="text-center">
      <p style="color: red"><%=sessionKey%> is not a valid Session Key</p>
</div>

<%- include("partials/footer") -%>
