<!-- This Dashboard contains (HTML) code from Github user gurayyarar - https://github.com/gurayyarar/AdminBSBMaterialDesign/ -->
<!-- In particular, design elements (info tiles, card styles) have been copied and modified. -->
<!-- original LICENSE: https://github.com/gurayyarar/AdminBSBMaterialDesign/blob/master/LICENSE.md. -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/app-styles.css">
  <%- include("partials/navbar") -%>
</head>

<body>
  <div id="info-tiles-card" class="card">
    <div class="header">
      <i class="material-icons">person</i>
      <h2>Client</h2>
    </div>
  </div>
  <div id="thank-you-card" class="card" style="display: none">
    <div class="header">
      <i class="material-icons">celebration</i>
    </div>
    <div class="container-fluid">
      <div class="row">
        <h2 class="text-center" style="color: rgb(49, 49, 49)">Everything is working fine! Please do not close this window or open other tabs in this browser window.</h2>
        <p class="text-center" style="color: rgb(49, 49, 49)">You are currently contributing to science. Please do not close the browser window, and focus on the lecture. No actions are necessary on your side until the lecture ends. When the lecture ends, you will be asked to fill out a short survey. </p>
      </div>
    </div>
  </div>
  <div id="error-card" class="card" style="display: none">
    <div class="header">
      <i class="material-icons">error</i>
    </div>
    <div class="container-fluid">
      <div class="row">
        <h2 class="text-center" style="color: rgb(255, 5, 5)">We have problems detecting data</h2>
        <p class="text-center" style="color: rgb(49, 49, 49)">We have problems with detecting your face. Please make sure to look in the direction of your camera. If the problem persists, please let us know!</p>
      </div>
    </div>
  </div>
  <div id="video-card" class="card">
    <div class="header">
      <i class="material-icons">videocam</i>
      <h2>Video</h2>
    </div>
    <div class="container-fluid">
        <video id="video-input" autoplay playsinline width="480px" height="360px" style="transform: scaleX(-1); width: auto;"></video>
        <img id="image-input" hidden width="480px" height="360px"/>
        <canvas id="canvas-combined-plot" style="display: none" width="480px" height="360px"></canvas>
        <!-- <canvas id="canvas-input" width="480px" height="360px"></canvas> -->
        <canvas id="canvas-input" style="display: none" width="480px" height="360px"></canvas>
        <canvas id="canvas-cropped" style="display: none" width="96px" height="96px"></canvas>
        <canvas id="canvas-landmark-plot" style="display: none" width="96px" height="96px"></canvas>
        <p id="au-display"></p>
    </div>

    <select id="camera-select-box" name="camera_select_box">
        <option value="" disabled selected></option>
    </select>
  </div>
  <div id="secret-menu-card" class="card" style="display: none">
    <div class="header">
      <i class="material-icons">key</i>
      <h2>Secret Menu</h2>
      <div>
        <input type="checkbox" id="debug-status-vector" name="debugStatusVector">
        <label for="debug-status-vector">Status Vector</label>
        <input type="checkbox" id="debug-canvas-cropped" name="debugCanvasCropped">
        <label for="debug-canvas-cropped">Canvas Cropped</label>
        <input type="checkbox" id="debug-aus" name="debugAUs">
        <label for="debug-aus">AUs</label>
      </div>
      <button id="take-picture-btn">Take picture</button>
      <input type='file' id="fileUpload"/>
      <input type='file' webkitdirectory directory multiple id="folder-upload"/> 
      <button id="generate-status-btn">Generate status</button>
      <button id="download-sample-btn">Download data</button>
    </div>
    <div class="container-fluid">
      
    </div>
  </div>
  

</html>
</body>

<script src="https://cdn.jsdelivr.net/npm/hacktimer@1.1.3/HackTimer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@vladmandic/face-api/dist/face-api.js"></script>
<script src="https://www.lactame.com/lib/image-js/0.21.2/image.min.js"></script>
<script type="text/javascript" src="/simple-hog.js"></script>
<script type="text/javascript" src="/au-processing.js"></script>
<script type="text/javascript" src="/client.js" charset="utf-8"></script>

</html>
