<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/app-styles.css">
  <%- include("partials/navbar") -%>
</head>

<body>


  <div class="card">
    <div class="header">
      <i class="material-icons">person</i>
      <h2>Client - Session <span class="session-key"><span></h2>
    </div>


    <div class="container-fluid">


      <div class="row">

        <div class="col-lg-4 col-sm-6">
          <div class="info-box bg-blue hover-expand-effect" style="margin-bottom: 0.4em;">
            <div class="icon">
              <i class="material-icons">vpn_key</i>
            </div>
            <div class="content">
              <div class="text">Session Key</div>
              <div id="session-key" class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"><span class="session-key"></span></div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="info-box bg-blue hover-expand-effect" style="margin-bottom: 0.4em;">
            <div class="icon">
              <i class="material-icons">badge</i>
            </div>
            <div class="content">
              <div class="text">ID: Name</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"><span id="participant-id-name"></span></div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="info-box bg-blue hover-expand-effect" style="margin-bottom: 0.4em;">
            <div class="icon">
              <i id="working-idle" class="material-icons">loop</i>
            </div>
            <div class="content">
              <div class="text">Program Status</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"><span id="request-completion-time"></span><span>ms</span></div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="info-box bg-blue hover-expand-effect" style="margin-bottom: 0.4em;">
            <div class="icon">
              <i class="material-icons">extension</i>
            </div>
            <div class="content">
              <div class="text">Detected Objects</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"><span id="detected-objects"></span></div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="info-box bg-blue hover-expand-effect" style="margin-bottom: 0.4em;">
            <div class="icon">
              <i class="material-icons">visibility</i>
            </div>
            <div class="content">
              <div class="text">Looking at Camera</div>
              <div id="looking-at-camera" class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"></div>
            </div>
          </div>
        </div>



        <div class="col-lg-4 col-sm-6">
          <div class="info-box bg-blue hover-expand-effect" style="margin-bottom: 0.4em;">
            <div class="icon">
              <i class="material-icons">emoji_emotions</i>
            </div>
            <div class="content">
              <div class="text">Emotion</div>
              <div id="current-emotion" class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="card">
    <div class="header">
      <i class="material-icons">videocam</i>
      <h2>Video</h2>
    </div>
    <div class="container-fluid">
      <div class="row">
        <video id="video-input" autoplay playsinline width="480px" height="360px"></video>
        <image id="image-input" hidden width="400px" height="360px"</image>
          <canvas id="canvas-input" hidden width="400px" height="360px"></canvas>
          <canvas id="canvas-cropped" hidden width="48px" height="48px"></canvas>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="header">
      <i class="material-icons">note</i>
      <h2>Send Comment</h2>
    </div>
    <div class="input-group mb-3">
      <input type="text" id="input-comment" class="form-control" placeholder="Write your comment here" aria-label="Write your comment here">
      <span class="input-group-append">
        <button id="send-comment-btn" style="font-size: 17px;" class="btn btn-outline-secondary" type="button">Send</button>
      </span>
    </div>
  </div>



</body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.8.0/dist/tf.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd@2.2.2/dist/coco-ssd.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@tensorflow-models/blazeface@0.0.7/dist/blazeface.min.js"></script>
<script type="text/javascript" src="/client.js" charset="utf-8"></script>

</html>
