<!-- This Dashboard contains (HTML) code from Github user gurayyarar - https://github.com/gurayyarar/AdminBSBMaterialDesign/ -->
<!-- In particular, design elements (info tiles, card styles) have been copied and modified. -->
<!-- original LICENSE: https://github.com/gurayyarar/AdminBSBMaterialDesign/blob/master/LICENSE.md. -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/app-styles.css">
  <%- include("partials/navbar") -%>
</head>

<body>
  <div id="info-tiles-card" class="card">
    <div class="header">
      <i class="material-icons">person</i>
      <h2>Client</h2>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="info-box bg-blue hover-expand-effect" style="margin-bottom: 0.4em;">
            <div class="icon">
              <i class="material-icons">vpn_key</i>
            </div>
            <div class="content">
              <div class="text">Session Key</div>
              <div id="session-key" class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"><span class="session-key"></span></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="info-box bg-blue hover-expand-effect" style="margin-bottom: 0.4em;">
            <div class="icon">
              <i class="material-icons">badge</i>
            </div>
            <div class="content">
              <div class="text">ID: Name</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"><span id="participant-id-name"></span></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="info-box bg-blue hover-expand-effect" style="margin-bottom: 0.4em;">
            <div class="icon">
              <i id="working-idle" class="material-icons">loop</i>
            </div>
            <div class="content">
              <div class="text">Program Status</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"><span id="request-completion-time"></span><span id="status-message">loading...</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="video-card" class="card">
    <div class="header">
      <i class="material-icons">videocam</i>
      <h2>Video</h2>
    </div>
    <div class="container-fluid">
      <div class="row">
        <video id="video-input" autoplay playsinline width="480px" height="360px"></video>
        <image id="image-input" hidden width="400px" height="360px"/>
          <canvas id="canvas-input" width="400px" height="360px"></canvas>
          <canvas id="canvas-cropped" width="112px" height="112px"></canvas>
          <canvas id="canvas-cropped-large" hidden width="560px" height="560px"></canvas>
      </div>
    </div>
  </div>
  <div id="thank-you-card" class="card" style="display: none">
    <div class="header">
      <i class="material-icons">celebration</i>
    </div>
    <div class="container-fluid">
      <div class="row">
        <h2 class="text-center" style="color: rgb(49, 49, 49)">Everything is working fine!</h2>
        <p class="text-center" style="color: rgb(49, 49, 49)">You are currently contributing to science. Please do not close the browser window, and focus on the lecture. No actions are necessary on your side until the lecture ends. When the lecture ends, you will be asked to fill out a short survey. </p>
      </div>
    </div>
  </div>

</body>
<!-- Experimental ONNX.js -->
<script src="https://cdn.jsdelivr.net/npm/@vladmandic/face-api/dist/face-api.js"></script>
<script src="https://www.lactame.com/lib/image-js/0.21.2/image.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.8.0/dist/tf.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd@2.2.2/dist/coco-ssd.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@tensorflow-models/blazeface@0.0.7/dist/blazeface.min.js"></script>
<script type="text/javascript" src="/simple-hog.js"></script>
<script type="text/javascript" src="/client.js" charset="utf-8"></script>

</html>
