<!-- This Dashboard contains code from Github user gurayyarar - https://github.com/gurayyarar/AdminBSBMaterialDesign/ -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MMLA Live Dashboard</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/app-styles.css">
  <link rel="stylesheet" href="/css/materialize.css">
  <%- include("partials/navbar") -%>
</head>

<body>

  <div class="card">
    <div class="header">
      <i class="material-icons">speed</i>
      <h2 id="session-key-display" style="cursor: pointer">Dashboard - Session <span id="session-key"></span></h2>
    </div>

    <body>
      <div class="container-fluid">

        <!-- Widgets -->

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="info-box bg-pink hover-expand-effect" style="margin-bottom: 0.4em;">
              <div class="icon">
                <i class="material-icons">groups</i>
              </div>
              <div class="content">
                <div class="text">Active Participants</div>
                <div id="nr-participants" class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">0</div>
              </div>
            </div>
          </div>

          <!-- Comment Counter Element -->

          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="info-box bg-green hover-expand-effect" style="margin-bottom: 0.4em;">
              <div class="icon">
                <i class="material-icons">comment</i>
              </div>
              <div class="content">
                <div class="text">Comments</div>
                <div id="nr-comments" class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">0</div>
              </div>
            </div>
          </div>

          <!-- Looking At Camera Counter Element -->

          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="info-box bg-blue hover-expand-effect" style="margin-bottom: 0.4em;">
              <div class="icon">
                <i class="material-icons">visibility</i>
              </div>
              <div class="content">
                <div class="text">Looking at Camera</div>
                <div id="nr-looking-at-camera" class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">0% (0)</div>
              </div>
            </div>
          </div>

          <!-- Mean Concetration Element -->

          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="info-box bg-blue hover-expand-effect" style="margin-bottom: 0.4em;">
              <div class="icon">
                <i class="material-icons">score</i>
              </div>
              <div class="content">
                <div class="text">Mean Concentration</div>
                <div id="mean-concentration" class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"></div>
              </div>
            </div>
          </div>


          <!-- Emotion (happy) Counter Element -->

          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="info-box bg-yellow hover-expand-effect" style="margin-bottom: 0.4em;">
              <div class="icon">
                <i class="material-icons">sentiment_satisfied</i>
              </div>
              <div class="content">
                <div class="text">Happy</div>
                <div id="emotion-happy-participants" class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">0</div>
              </div>
            </div>
          </div>

          <!-- Emotion (neutral) Counter Element -->

          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="info-box bg-yellow hover-expand-effect" style="margin-bottom: 0.4em;">
              <div class="icon">
                <i class="material-icons">sentiment_neutral</i>
              </div>
              <div class="content">
                <div class="text">Neutral</div>
                <div id="emotion-neutral-participants" class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">0</div>
              </div>
            </div>
          </div>

          <!-- Emotion (sad) Counter Element -->

          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="info-box bg-yellow hover-expand-effect" style="margin-bottom: 0.4em;">
              <div class="icon">
                <i class="material-icons">sentiment_dissatisfied</i>
              </div>
              <div class="content">
                <div class="text">Sad</div>
                <div id="emotion-sad-participants" class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">0</div>
              </div>
            </div>
          </div>

          <!-- Emotion (other) Counter Element -->

          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="info-box bg-yellow hover-expand-effect" style="margin-bottom: 0.4em;">
              <div class="icon">
                <i class="material-icons">pending</i>
              </div>
              <div class="content">
                <div class="text">Other</div>
                <div id="emotion-other-participants" class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">0</div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="card">
        <div class="header">
          <div class="row clearfix">
            <div class="col-xs-12 col-sm-6">
              <h2>Mean Concentration (%)</h2>
            </div>

            <div class="body">
              <div id="real_time_chart" class="dashboard-flot-chart" style="padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1146px; height: 275px;" width="1432"
                  height="343"></canvas>
                <div class="flot-text" style="position: absolute; inset: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                  <div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; inset: 0px; display: block;">
                    <div style="position: absolute; max-width: 104px; top: 257px; left: 23px; text-align: center;" class="flot-tick-label tickLabel">0</div>
                    <div style="position: absolute; max-width: 104px; top: 257px; left: 131px; text-align: center;" class="flot-tick-label tickLabel">10</div>
                    <div style="position: absolute; max-width: 104px; top: 257px; left: 242px; text-align: center;" class="flot-tick-label tickLabel">20</div>
                    <div style="position: absolute; max-width: 104px; top: 257px; left: 353px; text-align: center;" class="flot-tick-label tickLabel">30</div>
                    <div style="position: absolute; max-width: 104px; top: 257px; left: 464px; text-align: center;" class="flot-tick-label tickLabel">40</div>
                    <div style="position: absolute; max-width: 104px; top: 257px; left: 575px; text-align: center;" class="flot-tick-label tickLabel">50</div>
                    <div style="position: absolute; max-width: 104px; top: 257px; left: 686px; text-align: center;" class="flot-tick-label tickLabel">60</div>
                    <div style="position: absolute; max-width: 104px; top: 257px; left: 797px; text-align: center;" class="flot-tick-label tickLabel">70</div>
                    <div style="position: absolute; max-width: 104px; top: 257px; left: 908px; text-align: center;" class="flot-tick-label tickLabel">80</div>
                    <div style="position: absolute; max-width: 104px; top: 257px; left: 1019px; text-align: center;" class="flot-tick-label tickLabel">90</div>
                    <div style="position: absolute; max-width: 104px; top: 257px; left: 1126px; text-align: center;" class="flot-tick-label tickLabel">100</div>
                  </div>
                  <div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; inset: 0px; display: block;">
                    <div style="position: absolute; top: 244px; left: 14px; text-align: right;" class="flot-tick-label tickLabel">0</div>
                    <div style="position: absolute; top: 195px; left: 8px; text-align: right;" class="flot-tick-label tickLabel">20</div>
                    <div style="position: absolute; top: 146px; left: 8px; text-align: right;" class="flot-tick-label tickLabel">40</div>
                    <div style="position: absolute; top: 98px; left: 8px; text-align: right;" class="flot-tick-label tickLabel">60</div>
                    <div style="position: absolute; top: 49px; left: 8px; text-align: right;" class="flot-tick-label tickLabel">80</div>
                    <div style="position: absolute; top: 1px; left: 1px; text-align: right;" class="flot-tick-label tickLabel">100</div>
                  </div>
                </div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1146px; height: 275px;" width="1432" height="343"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="card">
        <div class="header">
          <div class="row clearfix">
            <div class="col-xs-12 col-sm-6">
              <h2>Emotion Distribution (%)</h2>
            </div>

            <div class="body">

              <div id="pie_chart" style="width:475.6px;height:275px;position: relative;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</body>

</div>

<div class="row">

  <!-- List of participants with their respective data -->

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="header">
        <i class="material-icons">groups</i>
        <h2>Participants</h2>

      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-hover dashboard-task-infos">
            <thead>
              <tr>
                <th>Name</th>
                <th>Emotion</th>
                <th>Objects</th>
                <th>Looking</th>
                <th>Concentration</th>
              </tr>
            </thead>
            <tbody id="participant-list">
              <!-- Participant elements will be added here by JS -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="header">
        <i class="material-icons">comment</i>
        <h2>Comments</h2>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-hover dashboard-task-infos">
            <thead>
              <tr>
                <th>Comment</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody id="comment-list">
              <!-- Comment elements will be added here by JS -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="header">
        <i class="material-icons">settings</i>
        <h2>Settings</h2>
      </div>
      <div class="body">
        <button type="button" id="link-btn" class="btn btn-secondary">
          <i class="material-icons">link</i>
          <span>Copy direct link</span>
        </button>
        <button type="button" id="key-btn" class="btn btn-secondary">
          <i class="material-icons">content_copy</i>
          <span>Copy session key</span>
        </button>
        <button type="button" id="download-btn" class="btn btn-secondary">
          <i class="material-icons">file_download</i>
          <span>Download</span>
        </button>
        <div class="btn-group dropup">
          <button type="button" class="btn btn-secondary" id="dropup-timeframe" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">schedule</i>
            Choose Concentration Diagram Timeframe
          </button>
          <div class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -2px, 0px); top: -200px; left: 50px; will-change: transform;">
            <a class="dropdown-item timeframe-set">15 seconds<span style="display: none">15</span></a>
            <a class="dropdown-item timeframe-set">30 seconds<span style="display: none">30</span></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item timeframe-set">1 Minute<span style="display: none">60</span></a>
            <a class="dropdown-item timeframe-set">2 Minutes<span style="display: none">120</span></a>
            <a class="dropdown-item timeframe-set">5 Minutes<span style="display: none">300</span></a>
            <a class="dropdown-item timeframe-set">10 Minutes<span style="display: none">600</span></a>
            <a class="dropdown-item timeframe-set">30 Minutes<span style="display: none">1800</span></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item timeframe-set">1 Hour<span style="display: none">3600</span></a>
          </div>
        </div>
        <button type="button" id="end-btn" class="btn btn-danger">
          <i class="material-icons">close</i>
          <span>End Session</span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-charts@0.8.3/jquery.flot.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-charts@0.8.3/jquery.flot.resize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-charts@0.8.3/jquery.flot.pie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-charts@0.8.3/jquery.flot.categories.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-charts@0.8.3/jquery.flot.time.min.js"></script>
<script src="/dashboard.js" charset="utf-8"></script>

</body>

</html>
