<%- include("partials/header") -%>

<div class="text-center">

    <form class="form-signin">
      <i class="fas fa-chalkboard-teacher fa-5x" alt="" width="720" height="720"></i>
      <h1 class="h3 mb-3 font-weight-normal">Host</h1>
      <a class="btn btn-lg btn-primary btn-block" onclick="window.location.href='dashboard'">
  Create a new Session
</a>
    </form>
</div>

<%- include("partials/footer") -%>
