<%- include("partials/header") -%>

<div style="margin: 0" class="text-center">

      <p style="color: red">There is no Dashboard for Session Key <%=sessionKey%></p>
      <p style="color: red">Please <a href="/host">create a new Session</a></p>

</div>

<%- include("partials/footer") -%>
