<%- include("partials/header") -%>

<h1>Sorry, you are not allowed to access the Dashboard for session <%=sessionKey%></h1>
<h3>If you think this is a mistake, please contact the administrator!</h3>

<%- include("partials/footer") -%>
