<%- include("partials/header") -%>

<div class="home-bg position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
  <div class="mx-auto my-5">

<%- include("partials/session-join-participant") -%>
<%- include("partials/existing-session-join-participant") -%>

  </div>
</div>

<%- include("partials/footer") -%>

<script type="text/javascript">
  const userId = cookieValues.find(row => row.startsWith('participantId=')).split('=')[1];
  const userName = cookieValues.find(row => row.startsWith('participantName=')).split('=')[1];
  document.getElementById("participant-name").innerHTML = userName;
  document.getElementById("participant-id").innerHTML = userId;
  document.getElementById("session-key").innerHTML = sessionKey;
</script>
