<%- include("partials/header") -%>

<div class="home-bg position-relative overflow-hidden p-3 p-md-5 m-md-3">

  <div class="mx-auto my-5">
    <h1 class="display-4 font-weight-normal text-center">Privacy</h1>
    <a href="/privacy-german">Deutsche Version</a>
    <p class="lead font-weight-normal">

    <h2>Cookies</h2>

    This website uses cookies to temporarily store data in the browser that is necessary for its operation.

    For the host of a session, this is the following data:

    <ul>
      <li>Session key to the session created</li>
      <li>A server-side created secret for authentication</li>
    </ul>

    For the participants of a session, the following information is stored as cookies:

    <ul>
      <li>Session key to the session the participant joined</li>
      <li>The name the participant specified when joining</li>
      <li>A server-side created participant ID for authentication</li>
      <li>A server-side created secret for authentication</li>
    </ul>

    The cookie expiration date is set to "session". In most cases, this means that they are deleted when the last browser window is closed. However, exactly how cookies expire is handled depends on the browser used.

    <h2>Collection and transmission of participant data</h2>

    The platform specializes in the collection and live transmission of analytics data about participants. For this purpose, the webcam image of the participants is analyzed. The analysis is done using machine learning on the participant's computer.
    There is no transmission of the camera image or audio track.

    Only the results of the analysis by Machine Learning are transmitted. The transmission takes place via the WebSocket protocol, whereby the data is transmitted secured with TLS. The following data is transmitted:

    <ul>
      <li>Detected emotion</li>
      <li>A score between 0 and 100 calculated from the history of detected emotions.</li>
      <li>Whether the participant is currently looking towards the camera (Yes/No)</li>
      <li>A list of objects in the participant's environment detected by machine learning</li>
    </ul>

    The detection is error-prone, so it may happen that error-prone data is transmitted.

    <h2>Storage of participant data</h2>

    Data about subscribers is stored and kept in a server-side database as long as the session lasts. They are

    <ul>
      <li>immediately deleted if the host manually terminates the session</li>
      <li>deleted 30 minutes after the last access by the host, if the host leaves the session without manually terminating it</li>
    </ul>

    The data of the particular session can be exported by the host, giving the host a way to store it permanently.

    <h2>Right to access, erasure or anonymization</h2>

    If the data processed is personal data, you may have the right to request a copy of the data and to request anonymization or deletion.

    For access to or deletion of data from the server of the instance mmlatool.de, please contact privacy@felixboettger.de.

    For inspection or deletion of data exported from the host of a session, please contact the host.

    <h2>Sharing of data</h2>

    A transfer of the collected data to the host takes place. Otherwise, no data sharing takes place.

    </p>

  </div>

</div>


<%- include("partials/footer") -%>
