i#working-idle.material-icons.icon-green {
  color: #b7e02d !important;
}

.tr:hover {
  color: red !important;
}

table {
  table-layout: fixed;
}

body {
  margin-top: 100px;
}

@keyframes blinkingFrames {
  0% {
    opacity: 1.00;
  }

  50% {
    opacity: 0.30;
  }

  100% {
    opacity: 1.00;
  }
}

/* Below styles were created entirely by Github User gurayyarar - https://github.com/gurayyarar/AdminBSBMaterialDesign/
MIT License (https://github.com/gurayyarar/AdminBSBMaterialDesign/blob/master/LICENSE.md)
Removed all unused CSS - Felix Boettger
*/

/* Navbar ====================================== */

@import url(materialize.css);

.navbar {
  font-family: "Roboto", sans-serif;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
}

.navbar-header {
  padding: 10px 7px;
}

.label-count {
  position: absolute;
  top: 2px;
  right: 6px;
  font-size: 10px;
  line-height: 15px;
  background-color: #000;
  padding: 0 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

/* Material Icons ============================== */

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-26 {
  font-size: 26px;
}

.material-icons.md-28 {
  font-size: 28px;
}

.material-icons.md-30 {
  font-size: 30px;
}

.material-icons.md-32 {
  font-size: 32px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Helpers ===================================== */

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.font-6 {
  font-size: 6px;
}

.font-7 {
  font-size: 7px;
}

.font-8 {
  font-size: 8px;
}

.font-9 {
  font-size: 9px;
}

.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.font-18 {
  font-size: 18px;
}

.font-19 {
  font-size: 19px;
}

.font-20 {
  font-size: 20px;
}

.font-21 {
  font-size: 21px;
}

.font-22 {
  font-size: 22px;
}

.font-23 {
  font-size: 23px;
}

.font-24 {
  font-size: 24px;
}

.font-25 {
  font-size: 25px;
}

.font-26 {
  font-size: 26px;
}

.font-27 {
  font-size: 27px;
}

.font-28 {
  font-size: 28px;
}

.font-29 {
  font-size: 29px;
}

.font-30 {
  font-size: 30px;
}

.font-31 {
  font-size: 31px;
}

.font-32 {
  font-size: 32px;
}

.font-33 {
  font-size: 33px;
}

.font-34 {
  font-size: 34px;
}

.font-35 {
  font-size: 35px;
}

.font-36 {
  font-size: 36px;
}

.font-37 {
  font-size: 37px;
}

.font-38 {
  font-size: 38px;
}

.font-39 {
  font-size: 39px;
}

.font-40 {
  font-size: 40px;
}

.font-41 {
  font-size: 41px;
}

.font-42 {
  font-size: 42px;
}

.font-43 {
  font-size: 43px;
}

.font-44 {
  font-size: 44px;
}

.font-45 {
  font-size: 45px;
}

.font-46 {
  font-size: 46px;
}

.font-47 {
  font-size: 47px;
}

.font-48 {
  font-size: 48px;
}

.font-49 {
  font-size: 49px;
}

.font-50 {
  font-size: 50px;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.block-header {
  margin-bottom: 15px;
}

.block-header h2 {
  margin: 0 !important;
  color: #666 !important;
  font-weight: normal;
  font-size: 16px;
}

.bg-pink {
  background-color: #E91E63 !important;
  color: #fff;
}

.bg-pink .content .text,.bg-pink .content .number {
  color: #fff !important;
}

.bg-blue {
  background-color: #2196F3 !important;
  color: #fff;
}

.bg-blue .content .text,.bg-blue .content .number {
  color: #fff !important;
}

.bg-green {
  background-color: #4CAF50 !important;
  color: #fff;
}

.bg-green .content .text,.bg-green .content .number {
  color: #fff !important;
}

.bg-yellow {
  background-color: #ffe821 !important;
  color: #fff;
}

.bg-yellow .content .text,.bg-yellow .content .number {
  color: #fff !important;
}

.col-pink {
  color: #E91E63 !important;
}

.col-blue {
  color: #2196F3 !important;
}

.col-green {
  color: #4CAF50 !important;
}

.col-yellow {
  color: #ffe821 !important;
}

/* Custom Animate ============================== */

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Demo ======================================== */

/* Materialize Css | Taken from www.materializecss.com */

/* Media ======================================= */

@media (max-width: 767px) {
  .navbar .navbar-header {
    display: inline-block;
    margin-bottom: -6px;
    width: calc(100% + 30px);
  }

  .navbar .dropdown-menu {
    margin-left: -50px;
  }
}

/* General ===================================== */

body {
  background-color: #e9e9e9;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'Roboto', Arial, Tahoma, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

button,input,a {
  outline: none !important;
}

/* Dashboard =================================== */

.dashboard-flot-chart {
  height: 275px;
}

/* Buttons ===================================== */

.btn:focus {
  outline: none !important;
}

.btn-link {
  font-weight: bold;
  color: #333;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-link:active,.btn-link:focus {
  text-decoration: none;
  color: #333;
}

.btn-link:hover {
  text-decoration: none;
  color: #333;
  background-color: #ddd;
}

.btn-danger,.btn-danger:hover,.btn-danger:active,.btn-danger:focus {
  background-color: #fb483a !important;
}

.btn-info,.btn-info:hover,.btn-info:active,.btn-info:focus {
  background-color: #00b0e4 !important;
}

.btn-group {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.btn-group .btn {
  box-shadow: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.btn-group .btn-group {
  box-shadow: none !important;
}

/* Bootstrap Tags Input ======================== */

/* noUISlider ================================== */

/* Multi Select ================================ */

/* Card ======================================== */

.card {
  background: #fff;
  min-height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

.card .bg-pink,.card .bg-blue,.card .bg-green,.card .bg-yellow {
  border-bottom: none !important;
  color: #fff !important;
}

.card .bg-pink h2,.card .bg-pink .material-icons,.card .bg-blue h2,.card .bg-blue .material-icons,.card .bg-green h2,.card .bg-green .material-icons,.card .bg-yellow h2,.card .bg-yellow .material-icons {
  color: #fff !important;
}

.card .bg-pink .badge,.card .bg-blue .badge,.card .bg-green .badge,.card .bg-yellow .badge {
  background-color: #fff;
  color: #555;
}

.card .header {
  color: #555;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}

.card .header .header-dropdown {
  position: absolute;
  top: 20px;
  right: 15px;
  list-style: none;
}

.card .header .header-dropdown i {
  font-size: 20px;
  color: #999;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card .header .header-dropdown i:hover {
  color: #000;
}

.card .header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: #111;
}

.card .header .col-xs-12 h2 {
  margin-top: 5px;
}

.card .body {
  font-size: 14px;
  color: #555;
  padding: 20px;
}

.card .body .col-xs-1,.card .body .col-sm-1,.card .body .col-md-1,.card .body .col-lg-1 {
  margin-bottom: 20px;
}

.card .body .col-xs-2,.card .body .col-sm-2,.card .body .col-md-2,.card .body .col-lg-2 {
  margin-bottom: 20px;
}

.card .body .col-xs-3,.card .body .col-sm-3,.card .body .col-md-3,.card .body .col-lg-3 {
  margin-bottom: 20px;
}

.card .body .col-xs-4,.card .body .col-sm-4,.card .body .col-md-4,.card .body .col-lg-4 {
  margin-bottom: 20px;
}

.card .body .col-xs-5,.card .body .col-sm-5,.card .body .col-md-5,.card .body .col-lg-5 {
  margin-bottom: 20px;
}

.card .body .col-xs-6,.card .body .col-sm-6,.card .body .col-md-6,.card .body .col-lg-6 {
  margin-bottom: 20px;
}

.card .body .col-xs-7,.card .body .col-sm-7,.card .body .col-md-7,.card .body .col-lg-7 {
  margin-bottom: 20px;
}

.card .body .col-xs-8,.card .body .col-sm-8,.card .body .col-md-8,.card .body .col-lg-8 {
  margin-bottom: 20px;
}

.card .body .col-xs-9,.card .body .col-sm-9,.card .body .col-md-9,.card .body .col-lg-9 {
  margin-bottom: 20px;
}

.card .body .col-xs-10,.card .body .col-sm-10,.card .body .col-md-10,.card .body .col-lg-10 {
  margin-bottom: 20px;
}

.card .body .col-xs-11,.card .body .col-sm-11,.card .body .col-md-11,.card .body .col-lg-11 {
  margin-bottom: 20px;
}

.card .body .col-xs-12,.card .body .col-sm-12,.card .body .col-md-12,.card .body .col-lg-12 {
  margin-bottom: 20px;
}

/* Infobox ===================================== */

.info-box {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  height: 80px;
  display: flex;
  cursor: default;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.info-box .icon {
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.12);
  width: 80px;
}

.info-box .icon i {
  color: #fff;
  font-size: 50px;
  line-height: 80px;
}

.info-box .icon .chart.chart-pie {
  height: 100%;
  line-height: 123px;
}

.info-box .icon .chart.chart-pie canvas {
  vertical-align: baseline !important;
}

.info-box .content {
  display: inline-block;
  padding: 7px 10px;
}

.info-box .content .text {
  font-size: 13px;
  margin-top: 11px;
  color: #555;
}

.info-box .content .number {
  font-weight: normal;
  font-size: 26px;
  margin-top: -4px;
  color: #555;
}

.info-box.hover-expand-effect:after {
  background-color: rgba(0, 0, 0, 0.05);
  content: ".";
  position: absolute;
  left: 80px;
  top: 0;
  width: 0;
  height: 100%;
  color: transparent;
  -moz-transition: all 0.95s;
  -o-transition: all 0.95s;
  -webkit-transition: all 0.95s;
  transition: all 0.95s;
}

.info-box.hover-expand-effect:hover:after {
  width: 100%;
}

.info-box-2 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  height: 80px;
  display: flex;
  cursor: default;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.info-box-2 .icon {
  display: inline-block;
  text-align: center;
  width: 80px;
}

.info-box-2 .icon i {
  color: #fff;
  font-size: 50px;
  line-height: 80px;
}

.info-box-2 .chart.chart-pie {
  height: 100%;
  line-height: 123px;
}

.info-box-2 .chart.chart-pie canvas {
  vertical-align: baseline !important;
}

.info-box-2 .content {
  display: inline-block;
  padding: 7px 10px;
}

.info-box-2 .content .text {
  font-size: 13px;
  margin-top: 11px;
  color: #555;
}

.info-box-2 .content .number {
  font-weight: normal;
  font-size: 26px;
  margin-top: -4px;
  color: #555;
}

.info-box-2.hover-expand-effect:after {
  background-color: rgba(0, 0, 0, 0.05);
  content: ".";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  color: transparent;
  -moz-transition: all 0.95s;
  -o-transition: all 0.95s;
  -webkit-transition: all 0.95s;
  transition: all 0.95s;
}

.info-box-2.hover-expand-effect:hover:after {
  width: 100%;
}

.info-box-3 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  height: 80px;
  display: flex;
  cursor: default;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.info-box-3 .icon {
  position: absolute;
  right: 10px;
  bottom: 2px;
  text-align: center;
}

.info-box-3 .icon i {
  color: rgba(0, 0, 0, 0.15);
  font-size: 60px;
}

.info-box-3 .chart {
  margin-right: 5px;
}

.info-box-3 .chart.chart-pie {
  height: 100%;
  line-height: 34px;
}

.info-box-3 .chart.chart-pie canvas {
  vertical-align: baseline !important;
}

.info-box-3 .content {
  display: inline-block;
  padding: 7px 16px;
}

.info-box-3 .content .text {
  font-size: 13px;
  margin-top: 11px;
  color: #555;
}

.info-box-3 .content .number {
  font-weight: normal;
  font-size: 26px;
  margin-top: -4px;
  color: #555;
}

.info-box-3.hover-expand-effect:after {
  background-color: rgba(0, 0, 0, 0.05);
  content: ".";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  color: transparent;
  -moz-transition: all 0.95s;
  -o-transition: all 0.95s;
  -webkit-transition: all 0.95s;
  transition: all 0.95s;
}

.info-box-3.hover-expand-effect:hover:after {
  width: 100%;
}

.info-box-4 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  height: 80px;
  display: flex;
  cursor: default;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.info-box-4 .icon {
  position: absolute;
  right: 10px;
  bottom: 2px;
  text-align: center;
}

.info-box-4 .icon i {
  color: rgba(0, 0, 0, 0.15);
  font-size: 60px;
}

.info-box-4 .chart {
  margin-right: 5px;
}

.info-box-4 .chart.chart-pie {
  height: 100%;
  line-height: 34px;
}

.info-box-4 .chart.chart-pie canvas {
  vertical-align: baseline !important;
}

.info-box-4 .content {
  display: inline-block;
  padding: 7px 16px;
}

.info-box-4 .content .text {
  font-size: 13px;
  margin-top: 11px;
  color: #555;
}

.info-box-4 .content .number {
  font-weight: normal;
  font-size: 26px;
  margin-top: -4px;
  color: #555;
}

.info-box-4.hover-expand-effect:after {
  background-color: rgba(0, 0, 0, 0.05);
  content: ".";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  color: transparent;
  -moz-transition: all 0.95s;
  -o-transition: all 0.95s;
  -webkit-transition: all 0.95s;
  transition: all 0.95s;
}

.info-box-4.hover-expand-effect:hover:after {
  width: 100%;
}

/* Alerts ====================================== */

/* Dialogs (SweetAlert) ======================== */

/* Checkbox & Radio ============================ */

[type="checkbox"] + label {
  padding-left: 26px;
  height: 25px;
  line-height: 21px;
  font-size: 13px;
  font-weight: normal;
}

[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -2px;
  width: 11px;
  height: 19px;
}

[type="radio"]:not(:checked) + label {
  padding-left: 26px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  font-weight: normal;
}

[type="radio"]:checked + label {
  padding-left: 26px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  font-weight: normal;
}

/* Switch ====================================== */

/* DateTime Picker ============================= */

/* Bootstrap Select ============================ */

/* Tooltip & Popovers ========================== */

/* Nav Tabs ==================================== */

/* Thumbnails ================================== */

/* Modals ====================================== */

/* Labels ====================================== */

.label {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.label-info {
  background-color: #00b0e4;
}

.label-danger {
  background-color: #fb483a;
}

/* Collapse ==================================== */

/* Tables ====================================== */

.table tbody tr th {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.table tbody tr.info th {
  background-color: #00b0e4;
  color: #fff;
}

.table tbody tr.danger th {
  background-color: #fb483a;
  color: #fff;
}

.table thead tr th {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

/* Panel ======================================= */

/* Progress Bars =============================== */

/* Ion Range Slider ============================ */

/* Input Group ================================= */

.input-group {
  width: 100%;
  margin-bottom: 20px;
}

.input-group input[type="text"],.input-group .form-control {
  border: none;
  box-shadow: none;
  padding-left: 0;
}

.input-group .form-control:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  box-shadow: none !important;
}

.input-group.input-group-sm .form-control {
  font-size: 12px;
}

.input-group.input-group-lg .form-control {
  font-size: 18px;
}

.form-control-label {
  text-align: right;
}

.form-control-label label {
  margin-top: 8px;
}

.form-group {
  width: 100%;
  margin-bottom: 25px;
}

.form-group .form-control {
  width: 100%;
  border: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding-left: 0;
}

.form-group-sm .form-label {
  font-size: 12px;
}

.form-group-lg .form-label {
  font-size: 18px;
}

.form-control[disabled],.form-control[readonly] {
  background-color: transparent;
}

/* Color Picker ================================ */

/* Dropzone ==================================== */

/* Breadcrumbs ================================= */

/* Badge | List Group Item ===================== */

.badge {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

.list-group-item {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.list-group .active {
  background-color: #2196F3;
  border-color: #2196F3;
}

.list-group .active:hover,.list-group .active:focus,.list-group .active:active {
  background-color: #2196F3;
  border-color: #2196F3;
}

.list-group .active .list-group-item-text {
  color: #dfe9f1;
  font-size: 13px;
}

.list-group .active .list-group-item-text:hover,.list-group .active .list-group-item-text:active,.list-group .active .list-group-item-text:focus {
  color: #dfe9f1;
}

.list-group .list-group-item.active:hover .list-group-item-text,.list-group .list-group-item.active:focus .list-group-item-text,.list-group .list-group-item.active:active .list-group-item-text {
  color: #dfe9f1;
}

.list-group .list-group-item:first-child,.list-group .list-group-item:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.list-group .list-group-item-info {
  background-color: #00b0e4;
  border: none;
  color: #fff;
}

.list-group .list-group-item-info:hover,.list-group .list-group-item-info:focus {
  background-color: #00b0e4;
  color: #fff;
  opacity: 0.8;
}

.list-group .list-group-item-danger {
  background-color: #fb483a;
  border: none;
  color: #fff;
}

.list-group .list-group-item-danger:hover,.list-group .list-group-item-danger:focus {
  background-color: #fb483a;
  color: #fff;
  opacity: 0.8;
}

.list-group .list-group-bg-pink {
  background-color: #E91E63;
  border: none;
  color: #fff;
}

.list-group .list-group-bg-pink:hover,.list-group .list-group-bg-pink:focus {
  background-color: #E91E63;
  color: #fff;
  opacity: 0.8;
}

.list-group .list-group-bg-blue {
  background-color: #2196F3;
  border: none;
  color: #fff;
}

.list-group .list-group-bg-blue:hover,.list-group .list-group-bg-blue:focus {
  background-color: #2196F3;
  color: #fff;
  opacity: 0.8;
}

.list-group .list-group-bg-green {
  background-color: #4CAF50;
  border: none;
  color: #fff;
}

.list-group .list-group-bg-green:hover,.list-group .list-group-bg-green:focus {
  background-color: #4CAF50;
  color: #fff;
  opacity: 0.8;
}

.list-group .list-group-bg-yellow {
  background-color: #ffe821;
  border: none;
  color: #fff;
}

.list-group .list-group-bg-yellow:hover,.list-group .list-group-bg-yellow:focus {
  background-color: #ffe821;
  color: #fff;
  opacity: 0.8;
}

/* Pagination & Pager ========================== */

/* Media Object ================================ */

/* Form Wizard ================================= */

/* Accessibility */

/* Waves ======================================= */

/* Page Loader ================================= */

/* Preloaders ================================== */

.right {
  float: right !important;
}

@-webkit-keyframes container-rotate {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes container-rotate {
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fill-unfill-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }

  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }

  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }

  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }

  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }

  to {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@keyframes fill-unfill-rotate {
  12.5% {
    transform: rotate(135deg);
  }

  25% {
    transform: rotate(270deg);
  }

  37.5% {
    transform: rotate(405deg);
  }

  50% {
    transform: rotate(540deg);
  }

  62.5% {
    transform: rotate(675deg);
  }

  75% {
    transform: rotate(810deg);
  }

  87.5% {
    transform: rotate(945deg);
  }

  to {
    transform: rotate(1080deg);
  }
}

@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }

  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@keyframes left-spin {
  from {
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }

  50% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  to {
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }

  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

@-moz-keyframes right-spin {
  from {
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }

  50% {
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  to {
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

@keyframes right-spin {
  from {
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }

  50% {
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  to {
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

/* Navbars ===================================== */

.navbar {
  font-family: "Roboto", sans-serif;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
}

.navbar-header {
  padding: 10px 7px;
}

.label-count {
  position: absolute;
  top: 2px;
  right: 6px;
  font-size: 10px;
  line-height: 15px;
  background-color: #000;
  padding: 0 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

/* Dropdown Menu =============================== */

.dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  margin-top: -35px !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border: none;
}

.dropdown-menu .divider {
  margin: 5px 0;
}

.dropdown-menu .header {
  font-size: 13px;
  font-weight: bold;
  min-width: 270px;
  border-bottom: 1px solid #eee;
  text-align: center;
  padding: 4px 0 6px 0;
}

/* Left Sidebar & Overlay ====================== */

.overlay {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
}

/* Bootstrap Notify ============================ */

/* Jquery Nestable ============================= */

/* Login Page ================================== */

/* Sign Up Page ================================ */

/* Forgot Password Page ======================== */

/* 404 Not Found Page ========================== */

/* 500 Server Error Page ======================= */

/* Profile Page ================================ */

/* Maps ======================================== */

/* Google Maps */

/* jVector Map */

/* Charts ====================================== */

/* Morris */

/* Flot */

.flot-chart {
  width: 100%;
  height: 320px;
}

/* Sparkline */

/* Searchbar =================================== */

/* Jquery DataTable ============================ */

/* Light Gallery ================================ */

/* For Internet Explorer 10 ===================== */

/* For Internet Explorer 11 ===================== */
