/* Navbar & Logo */

.navbar {
  background-color: #4c5270;
  font-size: 18px;
  letter-spacing: 3px;
  padding-bottom: 0px;
}

.navbar-brand {
  color: #fff;
  font-size: 25px;
}

.navbar-brand:hover {
  color: gold;
}

nav .navbar-nav li a{
  color: #fff !important;
  }

nav .navbar-nav li a:hover{
    color: black !important;
}

/* Main Content */

.body {
  height: 100vh;
}

.btn {
  margin-top: 10px;
}

.btn-outline-secondary{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-secondary:hover{
    background-color: #6c757d;
    border-color: #6c757d;
}

.container {
  height: auto !important;
  height: 100%;
  max-width: 960px;
  margin: 0 auto -70px;
  min-height: 100%;
}

.form-signin{
  max-width: 300px;
  margin: 30px auto;
}

/* Footer */

.footer {
  background-color: #4c5270;
  bottom: 0;
  height: 70px;
  position: absolute;
	text-align: center;
	width: 100%;
}

.footer p {
	padding-top: 25px;
	font-size: 12px;
  color: #fff;
}
